/* Fonts */
@font-face {
   font-family: 'ClearSans-Bold';
    src: font_path('ClearSans-Bold.eot');
    src: font_path('ClearSans-Bold.svg#clearsansregular') format('svg'), 
         font_path('ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
         font_path('ClearSans-Bold.woff') format('woff'),
         font_path('ClearSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family: 'ClearSans-BoldItalic';
    src: font_path('ClearSans-BoldItalic.eot');
    src: font_path('ClearSans-BoldItalic.svg#clearsansregular') format('svg'), 
         font_path('ClearSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         font_path('ClearSans-BoldItalic.woff') format('woff'),
         font_path('ClearSans-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family: 'ClearSans-Italic';
    src: font_path('ClearSans-Italic.eot');
    src: font_path('ClearSans-Italic.svg#clearsansregular') format('svg'), 
         font_path('ClearSans-Italic.eot?#iefix') format('embedded-opentype'),
         font_path('ClearSans-Italic.woff') format('woff'),
         font_path('ClearSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family: 'ClearSans-Light';
    src: font_path('ClearSans-Light.eot');
    src: font_path('ClearSans-Light.svg#clearsansregular') format('svg'), 
         font_path('ClearSans-Light.eot?#iefix') format('embedded-opentype'),
         font_path('ClearSans-Light.woff') format('woff'),
         font_path('ClearSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
   font-family: 'ClearSans-Medium';
    src: font_path('ClearSans-Medium.eot');
    src: font_path('ClearSans-Medium.svg#clearsansregular') format('svg'), 
         font_path('ClearSans-Medium.eot?#iefix') format('embedded-opentype'),
         font_path('ClearSans-Medium.woff') format('woff'),
         font_path('ClearSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family: 'ClearSans-MediumItalic';
    src: font_path('ClearSans-MediumItalic.eot');
    src: font_path('ClearSans-MediumItalic.svg#clearsansregular') format('svg'), 
         font_path('ClearSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
         font_path('ClearSans-MediumItalic.woff') format('woff'),
         font_path('ClearSans-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
   font-family: 'ClearSans';
    src: font_path('ClearSans-Regular.eot');
    src: font_path('ClearSans-Regular.svg#clearsansregular') format('svg'), 
         font_path('ClearSans-Regular.eot?#iefix') format('embedded-opentype'),
         font_path('ClearSans-Regular.woff') format('woff'),
         font_path('ClearSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
   font-family: 'ClearSans-Thin';
    src: font_path('ClearSans-Thin.eot');
    src: font_path('ClearSans-Thin.svg#clearsansregular') format('svg'), 
         font_path('ClearSans-Thin.eot?#iefix') format('embedded-opentype'),
         font_path('ClearSans-Thin.woff') format('woff'),
         font_path('ClearSans-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'RBNo2Light';
  src: local('RBNo2Light'), local('RBNo2Light'),
         url('RBNo2Light.otf') format('opentype');
}

body,h1,h2,h3,h4,h5,h6 {
	font-family: "ClearSans", "Arial", sans-serif;
}

h1 { 
	font-size: 2.571em;
}

h2 {
	font-size: 2.143em;
}

h3 {
	font-size: 1.714em;
}

h4, h6 {
	font-size: 1.286em;
}

h5 {
	font-size: 1em;
}

a { 
	transition: all .3s ease-in-out 0s;
}

/* Color Palette - Credit to Twilight VIM Theme */
$grey-blue: #8a9597;
$light-grey-blue: #a0a8b0;
$dark-grey-blue: #34383c;
$mid-grey-blue: #64686c;
$beige: #ceb67f;
$light-orange: #ebc471;
$yellow: #e3d796;
$violet: #a999ac;
$green: #a2a96f;
$light-green: #c2c98f;
$red: #d08356;
$cyan: #74dad9;
$dark-grey: #1a1a1a;
$grey: #303030;
$light-grey: #605958;
$white-grey: #f4f4f4;
$off-white: #fffedc;
$white: #fff;
$black: #000;

/* Animations */
.progress, .progress-bar, .two-sec-ease-in-out {
	-webkit-transition: width 2s ease-in-out;
	-moz-transition: width 2s ease-in-out;
	-o-transition: width 2s ease-in-out;
	transition: width 2s ease-in-out;
	}

body {
	color: $mid-grey-blue;
}

body.home header {
	background-color: $dark-grey;
	box-shadow:inset 0 0 7.143em #4162a9;
}
body.articles header {
	background: $mid-grey-blue;
}
body.about header {
	background: $violet;
}
body.services header {
	background: $red;
}
body.contact header {
	background: $green;
}
$h1-size: 9.286em;
header {
	background: #94592b;
	margin-bottom: 0 !important;
	#logo-extend-left {
		background: rgba(0,0,0,0.75);
		height: 9.286em;
		position: absolute;
		left: 0;
		right: 90%;
	}
	#logo {
		background: rgba(0,0,0,0.75);
		z-index: 4;
		padding: 1.429em;
		position: relative;
		a {
			text-indent: -999em;
			background: url('codeurge.png') no-repeat;
			height: 4.071em;
			width: 13.571em;
			display: block;
		}
		p.console {
			color: $off-white;
			font-size: 0.857em;
			#prompt-cursor {
				text-shadow: 0.1em 0.1em 0.2em #fff;
			}
		}
	}
	.navbar {
		z-index: 999;
		background: transparent !important;
		border: 0 none !important;
	}
	section#hero {
		width: 100%;
	  h1 {
			font-family: "RBNo2Light", "Arial", sans-serif;
			font-size: $h1-size;
			z-index: 4;
			position: relative;
			color: $light-orange;
			text-shadow: 5px 5px 0px $dark-grey, 7px 7px 0px $off-white;
			text-transform: uppercase;
		}
		p.subtext {
			color: $white;
			font: 1em "ClearSans", "Arial", sans-serif;
			background: rgba(0,0,0,0.75);
			padding: 1.429em;
			border-radius: 0.357em;
			z-index: 2;
		}
	}
}
@media screen and (min-width: 768px) {
	header h1 {
		font-size: $h1-size * 1.5 !important;
	}
}
canvas {
	z-index: 1;
	position: absolute;
}

body p.flash {
	margin: 0;
}

h1.section-title {
		color: $red;
		font-family: "ClearSans-Medium", "Arial", sans-serif;
		text-align: center;
		font-size: 4.286em;
		line-height: 2em;
	}

/* Profile Styles */

section#profile {
	background: $white-grey; 
	h5 {
		font-family: "ClearSans-Thin", "Arial", sans-serif;
		text-align: center;
		font-size: 1.286em;
		color: $light-grey;
		a {
			color: $violet;
		}
	}
	h6 {
		color: $red;
		font-family: "ClearSans-Medium", "Arial", sans-serif;
		font-style: italic;
		text-align: center;
		font-size: 1em;
		sup.quotemark {
			font-size: 7.143em;
			font-family: "ClearSans", "Arial", sans-serif;
			font-style: italic;
			color: $light-grey-blue;
			top: 0.4em;
			right: 0.1em;
		}
	}
	a.defense-league {
		position: absolute;
		left: 0;
		margin: 7.143em 0 0 0;
	}
	section#profile-quote {
		margin: 0 0 3.571em 0;
	}
	#head {
		text-align: center;
	}
	section#short-bio, section#facts { 
		h1 {
			font-size: 1.286em;
			color: $green;
			font-family: "ClearSans-Medium", "Arial", sans-serif;
		}
		h2 {
			font-size: 1em;
			margin: 0;
			font-weight: bold;
		}
	}
}
/* Abilities Styles */

section#abilities {
	background: $white-grey;
	padding: 2.5em 0;
	.ability {
		background: $white;
		border-radius: 0.357em;
		padding: 0.714em 0.357em;
		margin-bottom: 2.5em;
		text-align: center;
	}
}

#abilities #github {
	text-align: center;
	p {
		text-transform: uppercase;
	}
	a {
		background: $violet;
		color: $white;
		text-transform: uppercase;
		border-radius: 0.357em;
		padding: 0.714em;
		display: block;
		margin: 1.071em auto 0 auto;
		width: 14.286em;
		&:hover {
			background: #938695;
		}
	}
}

#abilities #other-tools ul { list-style: none; }
#abilities #other-tools .left-tools { text-align: right; }
#abilities #other-tools .right-tools { text-align: left; }

/* Experience Styles */
section#experience {
	background: #fbfbfb;
	padding: 2.5em 0;
	.entry-title h1 {
		font: 1.286em "ClearSans", "Arial", sans-serif;
		color: $dark-grey;
	}
	.entry-content h2 {
		font: 1em "ClearSans", "Arial", sans-serif;
		color: $dark-grey;
		font-style: italic;
		font-weight: bold;
	}
}

/* Hobbies Styles */
section#hobbies {
	background: $grey;
	color: $off-white;
}

/* Contact Styles */
section#contact {
	background: $dark-grey;
	color: $mid-grey-blue;
	ul { 
		list-style: none; 
		li { 
			margin-bottom: 0.714em; 
		}
		li.linkedin a {
			background: url('linkedin.png') left center no-repeat;
			padding: 0 0 0 2.5em;
		}
		li.skype a {
			background: url('skype.png') left center no-repeat;
			padding: 0 0 0 2.5em;
		}
		li.gplus a {
			background: url('gplus.png') left center no-repeat;
			padding: 0 0 0 2.5em;
		}
		li.twitter a {
			background: url('twitter.png') left center no-repeat;
			padding: 0 0 0 2.5em;
		}
		li.dribbble a {
			background: url('dribbble.png') left center no-repeat;
			padding: 0 0 0 2.5em;
		}
		li.email a {
			background: url('email.png') left center no-repeat;
			padding: 0 0 0 2.5em;
		}
	}
}
#contact a {
	color: $light-green;
	&:hover {
		color: $green;	
	}
}

/* Footer Styles */
section#footer {
	background: $dark-grey;
	color: $mid-grey-blue;
	aside#footer-logo {
		background: url('codeurge.png') no-repeat;
		width: 13.571em;
		height: 4.071em;
		display: block;
	}
	p {
		font: 0.714em "ClearSans", "Arial", sans-serif;
	}
	ul { 
		list-style: none; 
		margin: 0;
		padding: 0;
		li {
			float: left;
			a {
				font-size: 0.714em;
			}
		}
		li:after {
			content: " | "
		}
		li:last-child:after {
			content: ""
		}
	}
}
#gototop {
	width: 2.857em;
	height: 2.857em;
	position: fixed;
	right: 0;
	bottom: 0;
	opacity: 0;
	margin-top: -1.429em;
	background: url('up.png') no-repeat 0 -2.858em;
	cursor: pointer;
	&:hover {
		background-position: 0 0;
	}
}
.timer-wrapper { 
	margin-top: 1em;
	margin-bottom: 1em;
}
.hr { display: none; }
.hr-label { display: none; }
.min { display: none; }
.min-label { display: none; }
.sec { display: none; }
.sec-label { display: none; }

.backtotop {
	float: right;
}
