/* Fonts */
@font-face {
   font-family: 'ClearSans-Bold';
    src: font_path('ClearSans-Bold.eot');
    src: font_path('ClearSans-Bold.svg#clearsansregular') format('svg'), 
         font_path('ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
         font_path('ClearSans-Bold.woff') format('woff'),
         font_path('ClearSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family: 'ClearSans-BoldItalic';
    src: font_path('ClearSans-BoldItalic.eot');
    src: font_path('ClearSans-BoldItalic.svg#clearsansregular') format('svg'), 
         font_path('ClearSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         font_path('ClearSans-BoldItalic.woff') format('woff'),
         font_path('ClearSans-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family: 'ClearSans-Italic';
    src: font_path('ClearSans-Italic.eot');
    src: font_path('ClearSans-Italic.svg#clearsansregular') format('svg'), 
         font_path('ClearSans-Italic.eot?#iefix') format('embedded-opentype'),
         font_path('ClearSans-Italic.woff') format('woff'),
         font_path('ClearSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family: 'ClearSans-Light';
    src: font_path('ClearSans-Light.eot');
    src: font_path('ClearSans-Light.svg#clearsansregular') format('svg'), 
         font_path('ClearSans-Light.eot?#iefix') format('embedded-opentype'),
         font_path('ClearSans-Light.woff') format('woff'),
         font_path('ClearSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
   font-family: 'ClearSans-Medium';
    src: font_path('ClearSans-Medium.eot');
    src: font_path('ClearSans-Medium.svg#clearsansregular') format('svg'), 
         font_path('ClearSans-Medium.eot?#iefix') format('embedded-opentype'),
         font_path('ClearSans-Medium.woff') format('woff'),
         font_path('ClearSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family: 'ClearSans-MediumItalic';
    src: font_path('ClearSans-MediumItalic.eot');
    src: font_path('ClearSans-MediumItalic.svg#clearsansregular') format('svg'), 
         font_path('ClearSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
         font_path('ClearSans-MediumItalic.woff') format('woff'),
         font_path('ClearSans-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
   font-family: 'ClearSans';
    src: font_path('ClearSans-Regular.eot');
    src: font_path('ClearSans-Regular.svg#clearsansregular') format('svg'), 
         font_path('ClearSans-Regular.eot?#iefix') format('embedded-opentype'),
         font_path('ClearSans-Regular.woff') format('woff'),
         font_path('ClearSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
   font-family: 'ClearSans-Thin';
    src: font_path('ClearSans-Thin.eot');
    src: font_path('ClearSans-Thin.svg#clearsansregular') format('svg'), 
         font_path('ClearSans-Thin.eot?#iefix') format('embedded-opentype'),
         font_path('ClearSans-Thin.woff') format('woff'),
         font_path('ClearSans-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'RBNo2Light';
  src: local('RBNo2Light'), local('RBNo2Light'),
         url('RBNo2Light.otf') format('opentype');
}

body,h1,h2,h3,h4,h5,h6 {
	font-family: "ClearSans", "Arial", sans-serif;
}

h1 { 
	font-size: 36px; 
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}
h6 {
	font-size: 18px;
}

body {
	font-size: 14px;
}

body.home header {
	background: #1a1a1a;
	height: 585px;
	box-shadow:inset 0 0 100px #4162a9;
}
header {
	height: 285px;
	background: #94592b;
	logo {
		background: rgba(0,0,0,0.75);
		z-index: 2;
		display: block;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		position: absolute;
		left: 0;
		top: 50px;
		width: 30%;
		padding: 15px;
		a {
			background: url('codeurge.png');
			width: 190px;
			height: 57px;
			display: block;
			text-indent: -9999em;
			float: right;
		}
		p {
			font: 12px "ClearSans-Medium", "ClearSans", "Arial", sans-serif;
			color: #fffedc;
			width: 185px;
			margin: 5px 0 0 0;
			float: right;
			clear: both;
		}
	}
	navigation {
		z-index: 2;
	}
	navigation ul {
		display: block;
		position: absolute;
		list-style: none;
		z-index: 2;
		margin: 75px 50px 0 30%;
		li {
			float: left;
			margin: 0 25px;
			a {
				color: #fff;
				font: 1.25em "ClearSans", "Arial", sans-serif;
				&:hover {
					color: #74dad9;
				}
				&.active {
					color: #ebc471;
					&:hover {
						color: #a0a8b0;
					}
				}
			}
		}
	}
	auth {
		z-index: 2;
		position: absolute;
		top: 0;
		right: 15px;
		background: rgba(0,0,0,0.75);
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		padding: 5px 10px;
		color: #fffedc;
		&:hover {
			padding: 10px 10px;
		}
	}
}

body.articles header {
	background: #64686c;
}
body.about header {
	background: #a999ac;
}
body.services header {
	background: #d08356;
}
body.contact header {
	background: #a2a96f;
}
canvas{
  position:absolute;
	top: 0px !important;
	left: 0px !important;
	z-index: 1;
}

hero {
	width: 100%;
	float: left;
	position: relative;
}

body hero h1 {
	font-family: "RBNo2Light", "Arial", sans-serif;
	font-size: 200px;
	color: #fff;
	z-index: 3;
	position: relative;
	top: 75px;
	left: auto;
	right: auto;
	text-align: center;
	text-transform: uppercase;
}
body.home hero h1 {
	font-family: "RBNo2Light", "Arial", sans-serif;
	font-size: 200px;
	color: #fff;
	z-index: 3;
	position: relative;
	top: 150px;
	left: auto;
	right: auto;
	text-align: center;
	color: #89c5f1;
	text-transform: uppercase;
}
body.home hero p.subtext {
	color: #fff;
	font: 14px "ClearSans", "Arial", sans-serif;
	margin: 0 auto;
	position: relative;
	top: 125px;
	width: 50%;
	background: rgba(0,0,0,0.75);
	padding: 20px;
	border-radius: 5px;
	z-index: 2;
}

body p.flash {
	margin: 0;
}

/* Profile Styles */

section#profile {
	background: #f4f4f4;
}

#profile h1.section-title {
	color: #d08355;
	font-family: "ClearSans-Medium", "Arial", sans-serif;
	text-align: center;
	font-size: 60px;
}

#profile h5 {
	font-family: "ClearSans-Thin", "Arial", sans-serif;
	text-align: center;
}

#profile h6 {
	color: #d08355;
	font-family: "ClearSans-Medium", "Arial", sans-serif;
	font-style: italic;
	text-align: center;
}

/* Abilities Styles */

section#abilities {
	background: #f4f4f4;
	padding: 35px 0;
}

#abilities h1.section-title {
	color: #d08355;
	font-family: "ClearSans-Medium", "Arial", sans-serif;
	text-align: center;
	font-size: 60px;
}

#abilities .ability {
	background: #fff;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 35px;
}

#abilities #github {
	text-align: center;
	p {
		text-transform: uppercase;
	}
	a {
		background: #a999ac;
		color: #fff;
		text-transform: uppercase;
		border-radius: 5px;
		padding: 10px;
		display: block;
		margin: 15px auto 0 auto;
		width: 200px;
	}
}

#abilities #other-tools ul { list-style: none; }
#abilities #other-tools .left-tools { text-align: right; }
#abilities #other-tools .right-tools { text-align: left; }

/* Abilities Meter Styles */
.meter { 
			height: 20px;  /* Can be anything */
			position: relative;
			background: #555;
			-moz-border-radius: 25px;
			-webkit-border-radius: 25px;
			border-radius: 25px;
			-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
			-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
			box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
		}
		.meter > span {
			display: block;
			height: 100%;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			background-color: rgb(43,194,83);
			background-image: -webkit-gradient(
			  linear,
			  left bottom,
			  left top,
			  color-stop(0, rgb(43,194,83)),
			  color-stop(1, rgb(84,240,84))
			 );
			background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(43,194,83) 37%,
			  rgb(84,240,84) 69%
			 );
			-webkit-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			-moz-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			position: relative;
			overflow: hidden;
		}
		.meter > span:after, .animate > span > span {
			content: "";
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			background-image: 
			   -webkit-gradient(linear, 0 0, 100% 100%, 
			      color-stop(.25, rgba(255, 255, 255, .2)), 
			      color-stop(.25, transparent), color-stop(.5, transparent), 
			      color-stop(.5, rgba(255, 255, 255, .2)), 
			      color-stop(.75, rgba(255, 255, 255, .2)), 
			      color-stop(.75, transparent), to(transparent)
			   );
			background-image: 
				-moz-linear-gradient(
				  -45deg, 
			      rgba(255, 255, 255, .2) 25%, 
			      transparent 25%, 
			      transparent 50%, 
			      rgba(255, 255, 255, .2) 50%, 
			      rgba(255, 255, 255, .2) 75%, 
			      transparent 75%, 
			      transparent
			   );
			z-index: 1;
			-webkit-background-size: 50px 50px;
			-moz-background-size: 50px 50px;
			-webkit-animation: move 2s linear infinite;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			overflow: hidden;
		}
		
		.animate > span:after {
			display: none;
		}
		
		@-webkit-keyframes move {
		    0% {
		       background-position: 0 0;
		    }
		    100% {
		       background-position: 50px 50px;
		    }
		}
		
		.orange > span {
			background-color: #f1a165;
			background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
			background-image: -webkit-linear-gradient(#f1a165, #f36d0a); 
		}
		
		.red > span {
			background-color: #f0a3a3;
			background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
			background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
		}
		
		.nostripes > span > span, .nostripes > span:after {
			-webkit-animation: none;
			background-image: none;
		}
/* Experience Styles */
section#experience {
	background: #fbfbfb;
}

#experience h1.section-title {
	color: #d08355;
	font-family: "ClearSans-Medium", "Arial", sans-serif;
	text-align: center;
	font-size: 60px;
}

/* Hobbies Styles */
section#hobbies {
	background: #303030;
	color: #faf9e9;
}

#hobbies h1.section-title {
	color: #d08355;
	font-family: "ClearSans-Medium", "Arial", sans-serif;
	text-align: center;
	font-size: 60px;
}


/* Contact Styles */
section#contact {
	background: #1a1a1a;
	color: #64686c;
}

#contact h1.section-title {
	color: #d08355;
	font-family: "ClearSans-Medium", "Arial", sans-serif;
	text-align: center;
	font-size: 60px;
}

#contact ul { list-style: none; }

#contact a {
	color: #c2c98f;
}

/* Footer Styles */
section#footer {
	background: #1a1a1a;
	color: #64686c;
}
